In [1]:
dir = 'C:/Users/Hp/Desktop/BTP/community_detection/StockData'  # Feeding the current directory in a string for reading files from the folder StockData

In [14]:
import pandas as pd
from datetime import datetime

In [4]:
# Storing file names in a list
import os
file_names = []
files = [file for file in os.listdir(dir)]

In [5]:
files_dict = {ind: name for (ind, name) in enumerate(files)}

for file in files:
    file = file[:-4]            # Removing the .csv from the end
    file_names.append(file)

In [6]:
print(file_names)

['ADANIPORTS', 'ASIANPAINT', 'AXIS', 'BAJAJ-AUTO', 'BAJAJFINSV', 'BAJFINANCE', 'BHARTIARTL', 'BPCL', 'BRITANNIA', 'CIPLA', 'COALINDIA', 'DRREDDY', 'EICHERMOT', 'GAIL', 'GRASIM', 'HCLTECH', 'HDFC', 'HEROMOTOCO', 'HINDALCO', 'HINDUNILVR', 'ICICI', 'INDUSINDBK', 'INFRATEL', 'INFY', 'IOC', 'ITC', 'JSWSTEEL', 'KOTAK', 'LT', 'MARUTI', 'MM', 'NESTLEIND', 'NIFTY50_all', 'NTPC', 'ONGC', 'POWERGRID', 'RELIANCE', 'SBIN', 'SHREECEM', 'stock_metadata', 'SUNPHARMA', 'TATAMOTORS', 'TATASTEEL', 'TCS', 'TECHM', 'TITAN', 'ULTRACEMCO', 'UPL', 'VEDL', 'WIPRO', 'ZEEL']

In [15]:
def normalize_date(date_str):
    try:
        # Try parsing date with different formats
        date_obj = datetime.strptime(date_str, '%d-%m-%Y')
    except ValueError:
        try:
            date_obj = datetime.strptime(date_str, '%d/%m/%Y')
        except ValueError:
            # If parsing fails, return None
            return None
    
    # Return the normalized date in the desired format
    return date_obj.strftime('%d-%m-%Y')

In [13]:
for stock in file_names:
    stock_data = pd.read_csv(dir + '/' + stock + '.csv')
    print(stock_data['Date'].apply(normalize_date))

0       27-11-2007
1       28-11-2007
2       29-11-2007
3       30-11-2007
4       03-12-2007
           ...
3317    26-04-2021
3318    27-04-2021
3319    28-04-2021
3320    29-04-2021
3321    30-04-2021
Name: Date, Length: 3322, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       01-01-2003
1       02-01-2003
2       03-01-2003
3       06-01-2003
4       07-01-2003
           ...
4552    26-04-2021
4553    27-04-2021
4554    28-04-2021
4555    29-04-2021
4556    30-04-2021
Name: Date, Length: 4557, dtype: object
0       2008-05-26
1       2008-05-27
2       2008-05-28
3       2008-05-29
4       2008-05-30
           ...
3197    2021-04-26
3198    2021-04-27
3199    2021-04-28
3200    2021-04-29
3201    2021-04-30
Name: Date, Length: 3202, dtype: object
0       2008-05-26
1       2008-05-27
2       2008-05-28
3       2008-05-29
4       2008-05-30
           ...
3196    2021-04-26
3197    2021-04-27
3198    2021-04-28
3199    2021-04-29
3200    2021-04-30
Name: Date, Length: 3201, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5230    2021-04-26
5231    2021-04-27
5232    2021-04-28
5233    2021-04-29
5234    2021-04-30
Name: Date, Length: 5235, dtype: object
0       2002-02-18
1       2002-02-19
2       2002-02-20
3       2002-02-21
4       2002-02-22
           ...
4769    2021-04-26
4770    2021-04-27
4771    2021-04-28
4772    2021-04-29
4773    2021-04-30
Name: Date, Length: 4774, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5300    2021-04-26
5301    2021-04-27
5302    2021-04-28
5303    2021-04-29
5304    2021-04-30
Name: Date, Length: 5305, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2010-11-04
1       2010-11-05
2       2010-11-08
3       2010-11-09
4       2010-11-10
           ...
2593    2021-04-26
2594    2021-04-27
2595    2021-04-28
2596    2021-04-29
2597    2021-04-30
Name: Date, Length: 2598, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5296    2021-04-26
5297    2021-04-27
5298    2021-04-28
5299    2021-04-29
5300    2021-04-30
Name: Date, Length: 5301, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
4980    2021-04-26
4981    2021-04-27
4982    2021-04-28
4983    2021-04-29
4984    2021-04-30
Name: Date, Length: 4985, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-11
1       2000-01-12
2       2000-01-13
3       2000-01-14
4       2000-01-17
           ...
5295    2021-04-26
5296    2021-04-27
5297    2021-04-28
5298    2021-04-29
5299    2021-04-30
Name: Date, Length: 5300, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
4980    2021-04-26
4981    2021-04-27
4982    2021-04-28
4983    2021-04-29
4984    2021-04-30
Name: Date, Length: 4985, dtype: object
Series([], Name: Date, dtype: object)
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2005-03-23
1       2005-03-24
2       2005-03-28
3       2005-03-29
4       2005-03-30
           ...
3989    2021-04-26
3990    2021-04-27
3991    2021-04-28
3992    2021-04-29
3993    2021-04-30
Name: Date, Length: 3994, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
4980    2021-04-26
4981    2021-04-27
4982    2021-04-28
4983    2021-04-29
4984    2021-04-30
Name: Date, Length: 4985, dtype: object
0       2004-06-23
1       2004-06-24
2       2004-06-25
3       2004-06-28
4       2004-06-29
           ...
4179    2021-04-26
4180    2021-04-27
4181    2021-04-28
4182    2021-04-29
4183    2021-04-30
Name: Date, Length: 4184, dtype: object
0       2003-07-09
1       2003-07-10
2       2003-07-11
3       2003-07-14
4       2003-07-15
           ...
4422    2021-04-26
4423    2021-04-27
4424    2021-04-28
4425    2021-04-29
4426    2021-04-30
Name: Date, Length: 4427, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2010-01-08
1       2010-01-11
2       2010-01-12
3       2010-01-13
4       2010-01-14
           ...
2801    2021-04-26
2802    2021-04-27
2803    2021-04-28
2804    2021-04-29
2805    2021-04-30
Name: Date, Length: 2806, dtype: object
0         2007-11-27
1         2007-11-28
2         2007-11-29
3         2007-11-30
4         2007-12-03
             ...
235187    2021-04-26
235188    2021-04-27
235189    2021-04-28
235190    2021-04-29
235191    2021-04-30
Name: Date, Length: 235192, dtype: object
0       2004-11-05
1       2004-11-08
2       2004-11-09
3       2004-11-10
4       2004-11-11
           ...
4083    2021-04-26
4084    2021-04-27
4085    2021-04-28
4086    2021-04-29
4087    2021-04-30
Name: Date, Length: 4088, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2007-10-05
1       2007-10-08
2       2007-10-09
3       2007-10-10
4       2007-10-11
           ...
3354    2021-04-26
3355    2021-04-27
3356    2021-04-28
3357    2021-04-29
3358    2021-04-30
Name: Date, Length: 3359, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object

0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
5301    2021-04-26
5302    2021-04-27
5303    2021-04-28
5304    2021-04-29
5305    2021-04-30
Name: Date, Length: 5306, dtype: object
0       2000-01-03
1       2000-01-04
2       2000-01-05
3       2000-01-06
4       2000-01-07
           ...
4980    2021-04-26
4981    2021-04-27
4982    2021-04-28
4983    2021-04-29
4984    2021-04-30
Name: Date, Length: 4985, dtype: object

KeyError: 'Date'

In [20]:

    stock_data = pd.read_csv(dir + '/' + 'ASIANPAINT' + '.csv')
    stock_data['Date'].head(20)
#     print(stock_data['Date'].apply(normalize_date))

0     2000-01-03
1     2000-01-04
2     2000-01-05
3     2000-01-06
4     2000-01-07
5     2000-01-10
6     2000-01-11
7     2000-01-12
8     2000-01-13
9     2000-01-14
10    2000-01-17
11    2000-01-18
12    2000-01-19
13    2000-01-20
14    2000-01-21
15    2000-01-24
16    2000-01-25
17    2000-01-27
18    2000-01-28
19    2000-01-31
Name: Date, dtype: object